/* Formatação padrão */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio */

/* ---- reset ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0a0013;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.js-count-particles {
    font-size: 1.1em;
}

#particles-js p {
    color: #c4bebe;
    font-size: 100px;
    font-family: sans-serif;
    text-shadow: 0 0 8px #fff;
    letter-spacing: 6px;

    position: absolute;
    top: 40%;
    right: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#particles-js span{
    font-size: 60px;
    text-shadow: 0 0 5px #fff;
    letter-spacing: 4px;

    display: block;

    border-right: 6px solid #C4BEBE;
    white-space: nowrap;
    overflow: hidden;

    animation: 
        digitando 2s steps(40, end),
        cursor 0.75s step-end infinite
    ;
}

/* Animação */

@keyframes digitando {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes cursor {
    from,
    to {
        border-color: transparent;
    }

    50%{
        border-color: #c4bebe;
    }
}


.espacamento {
    height: 100vh;
}
/* Sobre */

p {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #C4BEBE;
}

.container-grid {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.sobre {
    height: 100vh;
    background-color: #0a0013;
}

h2{
    font-size: 75px;
    font-family: sans-serif;
    color: #C4BEBE;

    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}

.sobre span{
    color: #FF9900;
    margin-left: 20px;

}

.conteudo-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;

}



.conteudo-sobre p{
    font-size: 35px;
    color: #C4BEBE;
    text-align: left;
    
    height: 400px;
    width: 600px;
}

.conteudo-sobre p {
    padding-bottom: 100px;
}

.conteudo-sobre img{
    border-radius: 5px;
    border: 2px solid #C4BEBE;
}



/* Skills */
.skills {
    background-color: #0a0013;
}

.skills .logo-skills{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80%;
}

.skills span{
    color: #FF9900;
    margin-left: 20px;
}


#logos {
    height: 150px;
    width: 150px;

}

.skills p {
    color: #C4BEBE;
    text-align: center;

}


/* Animação da seção skills */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform:translateY(60%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform:translateY(0%);
    transition: all 2s;
}

.logo-skills :nth-child(2){
    transition-delay: 0.3s;
}

.logo-skills :nth-child(3){
    transition-delay: 0.6s;
}

.logo-skills :nth-child(4){
    transition-delay: 0.9s;
}

.logo-skills :nth-child(5){
    transition-delay: 1.2s;
}

.logo-skills :nth-child(6){
    transition-delay: 1.5s;
}

/* Contate-me */

.contate-me {
    background-color: #0a0013;
    height: 70vh;
}

.contate-me h2{
    padding-top: 50px;
}

.contate-me span{
    color: #FF9900;
    margin-left: 20px;
}

.contate-me .container-grid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 80%;
}

.contate-me p{
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-size: 35px;
    width: 40%;
    
}



/* footer */

footer {
    background-color: #0a0013;
}

footer .container-grid{
    height: 220px;
}

.container-contatos{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contatos #redes {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    
}

@media screen and (max-width:1320px){

    p {
       
        font-size: 25px;
    
    }
    
    #particles-js p {
        font-size: 70px;
    }

    #particles-js span{
        font-size: 45px;
    }

    .sobre p{
        font-size: 25px;

        width: 400px;
    }

    .sobre img{
        height: 300px;
        width: 300px;
    }

    .skills #logos {
        height: 100px;
        width: 100px;
    }

    h2{
        font-size: 55px;
        font-family: sans-serif;
        color: #C4BEBE;
    
        display: flex;
        justify-content: center;
        padding-top: 100px;
        
    }

    
}

@media screen and (max-width:1080px){
    #particles-js p {
        font-size: 50px;
    }
    
    #particles-js span{
        font-size: 35px;
    };
    

}

@media screen and (max-width: 900px){
    #particles-js p{
        font-size: 40px;
    }
    
    #particles-js span{
        font-size: 25px
    }
    
    h2 {
        font-size: 40px;
    }
    .sobre span{
        margin-left: 10px;
    }
    
    .sobre p{
        font-size: 20px;
        width: 300px;
    }
    
    .sobre img{
        height: 200px;
        width: 200px;
    }
    
    .skills  .logo-skills {
        flex-direction: column;
        flex-wrap: wrap;

        height: 300px;
        margin-top: 25%
      
    }

    .skills p {
        font-size: 20px;
    }
    
    .contate-me p{
        font-size: 20px;
        margin-top: 20%;
    }


}

@media screen and (max-width: 650px) {
    h2 {
        font-size: 30px
    }

    #particles-js p{
        font-size: 35px;
        top: 40%;
        right: 15%;
    }

    #particles-js span{
        font-size: 20px
    }


    .conteudo-sobre {
        margin-top: 15%;
        flex-direction: column;
    }

    .skills .container-grid{
        height: 100%;
    }
}

@media screen and (max-width: 500px){

    #particles-js p{
        font-size: 30px;
        top: 40%;
        right: 10%;
    }

    #particles-js span{
        font-size: 20px
    }



    .skills #logos {
        height: 75px;
        width: 75px;

    }

    .skills p {
        font-size: 18px;
    }

    .contate-me .container-grid {
        height: 65%;
    }

    .contate-me #redes {
        margin-left: 15px;
       
    }

    .contate-me .container-contatos{
        margin-top: 20%;
    }

    .contate-me{
        height: 65vh;
    }

}

@media screen and (max-width: 400px){
    h2{
        font-size: 24px;
    }
}



